# Project dependencies
git+ssh://git@github.com/seatgeek/fuzzywuzzy.git@0.18.0#egg=fuzzywuzzy
pandas==2.2.3
wordcloud==1.9.4
matplotlib==3.10.1
seaborn==0.13.2
python-Levenshtein==0.27.1
nltk==3.9.1
pytest==8.3.5
scikit-learn==1.6.1